.app {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  color: #333;
  min-height: 100vh;
}

.header img{
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}

a {
  color: rgb(167, 132, 67);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: rgb(148, 116, 56);
}
